@import "tailwindcss";

@theme {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;

  --text-theme: #0f0602;
  --bg-theme: #ffffff;
  --bg-theme-blue: #f0f5fa;
  --bg-dark-theme: #0f0602;
  --primary-theme: #0070d1;
}

html {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
