@import "tailwindcss";

@theme {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;

  --color-text: #0f0602;
  --color-background: #ffffff;
  --color-foreground-blue: #f0f5fa;
  --color-foreground-dark: #0f0602;
  --color-primary: #0070d1;
}

html {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
